<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>web007</display-name>
  <context-param>
    <param-name>temp</param-name>
    <param-value>good</param-value>
  </context-param>
  <servlet>
    <servlet-name>check</servlet-name>
    <servlet-class>com.multi.mvc007.Check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/check.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>monday</servlet-name>
    <servlet-class>com.multi.mvc007.Monday</servlet-class>
    <init-param>
      <param-name>temp</param-name>
      <param-value>good</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>monday</servlet-name>
    <url-pattern>/moday2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>com.multi.mvc007.Test</servlet-class>
    <init-param>
      <param-name>no</param-name>
      <param-value>nononononononononono</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>